* {
	margin: 0;
	padding: 0;
}

html,body {
	font-family: 'Inter', sans-serif;
	background-color: #E71A1A;
	color: white;
	margin: 20px;
}

a {
	color: white;
	/* text-decoration: none; */
}

a:hover {
	color: black;
	background-color: white;
}

.container {
	display: flex;
  
	/*this centers the text horizontally*/
	justify-content: center;
  
	/*this centers the text vertically*/
	align-items: center;
	height: 90vh;
}

p {
	text-align: center;
	margin-top: 25%;
}